<!Doctype html>
<html>
<head>
  <title>Is Delton Awake Now</title>
  <style>
    body{
      background-color: <%= result ? '#66CC99' : '#CC0066' %>;
    }
  </style>
</head>
<body>
<div style="color: white; font-size: 100pt; font-weight: bold; text-align: center; width: 100%; position: absolute; top: 50%; margin-top: -50pt">
  <%= result ? 'Yes' : 'Nope' %>
</div>
</body>
</html>